* {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  border-color: #717f8f;
}

h1,
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  background-color: #f8f8ff;
}

.header,
.main {
  padding: 20px 40px;
  color: #2e2e2e;
}

.header {
  text-align: center;
  background-color: #93a4b8;
  padding: 50px 100px 60px 100px;
  font-weight: 600;
  font-size: medium;
}

.subheader {
  margin: 20px;
}

.subheader::after {
  content: "😼";
  margin-left: 7px;
}
.main-content {
  max-width: 800px;
  margin: 0 auto;
  font-weight: 450;
}

.main-content > * {
  margin: 25px 0 0 0;
}

.nav > .link {
  margin: 0px 5px 0px 5px;
  color: #464545;
}

.link {
  padding: 6px 6px 8px 6px;
}

.link:hover {
  background-color: #c0c0c0;
}

.link:active {
  color: #f8f8ff;
  font-weight: 700;
}

.site-article {
  padding: 0px 20px;
}
.site-article + .site-article {
  border-color: #717f8f;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  padding-top: 20px;
}

::selection {
  background-color: #2e2e2e;
  color: #f8f8ff;
}

.heading-exp,
.subheading-exp {
  display: inline-block;
  margin: 0 5px 0 0;
}

.heading-article {
  position: relative;
  left: -20px;
}

.badge {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #e9b579;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
