* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  --bg-color-main: #e9e9e9;
  --font-color: #0e0707;
  --font-color-light: #525252;
  --color-accent: #717f8f;
  --color-accent-light: #717f8f93;
  --color-button: #e9b579;
  --color-button-hover: #e49439;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --font-color: #e9e9e9;
    --bg-color-main: #202029;
    --font-color-light: #c4c4c4;
    --color-button: #2c486893;
    --color-button-hover: #0e6e6e93;
    --color-accent: #63707e;
    --color-accent-light: #717f8f93;
  }
}

body {
  margin: 0;
  border-color: var(--color-accent);
  background-color: var(--bg-color-main);
}

h1,
h2,
h3 {
  font-family: "Anuphan", sans-serif;
}

main {
  background-color: var(--bg-color-main);
}

.header,
.main,
.footer {
  padding: 1.5rem 2.5rem;
  color: var(--font-color);
}

.header {
  text-align: center;
  background: radial-gradient(
    circle,
    var(--color-accent-light) 0%,
    var(--color-accent) 100%
  );
  padding: 3rem 4rem 3.5rem 4rem;
  font-weight: 600;
}

.footer {
  text-align: center;
  background: radial-gradient(
    circle,
    var(--color-accent-light) 0%,
    var(--color-accent) 100%
  );
}

.heading-div {
  font-size: 3rem;
}

.page-heading {
  font-size: 1em;
}
.page-subheader {
  font-size: 0.4em;
  margin: 1em 1em 1.5em 1em;
}

.page-subheader::after {
  content: "😼";
  margin-left: 0.4rem;
}
.main-content {
  max-width: 70ch;
  margin: 0 auto;
  font-weight: 450;
}

.main-content > * {
  margin: 1.5rem 0 0 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav > .link {
  margin: 0 0.3rem 0 0.3rem;
  color: var(--font-color-light);
  text-underline-offset: 0.2rem;
  border: 3px solid transparent;
}

.nav > .link:focus {
  border: 3px dotted var(--color-accent-light);
}

.link {
  padding: 0.3rem 0.2rem 0.4rem 0.2rem;
}

.link:hover {
  background-color: var(--color-accent);
  color: var(--bg-color-main);
}

.page-article {
  padding: 0 1.2rem;
}

.page-article + .page-article {
  border-color: var(--color-accent);
  border-width: 0.15rem 0 0 0;
  border-style: solid;
  padding-top: 1.2rem;
}

::selection {
  background-color: var(--font-color);
  color: var(--bg-color-main);
}

.header-exp {
  display: flex;
  flex-direction: column;
}

.heading-exp,
.subheading-exp {
  display: inline-block;
  margin: 0.15rem 0.8rem 0.15rem 0;
}

.subheading-exp {
  font-size: 0.85em;
}

.heading-article {
  position: relative;
  left: -1.2rem;
}

.badge {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: var(--color-button);
  padding: 0 0.7rem 0 0.7rem;
  border-radius: 0.3rem;
  border-style: solid;
  border-color: var(--font-color);
  border-width: 0.17rem;
  opacity: 0.7;
  transition: 200ms ease;
}

.header:focus-within .badge,
.header:hover .badge {
  transform: scale(110%);
  opacity: 1;
}

.badge:hover {
  background-color: var(--color-button-hover);
}

@media screen and (min-width: 750px) {
  html {
    font-size: 17px;
  }
  .badge {
    position: fixed;
  }
  .page-article {
    margin: 0 0 1rem 0;
  }
  .nav {
    flex-direction: row;
    justify-content: center;
  }

  .header-exp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .page-article {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 6em max-content;
  }

  .profile-text {
    padding: 0;
    margin: 0;
  }
  .heading-article {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .content-wrapper {
    margin: 0;
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 19px;
  }
  .badge {
    position: fixed;
  }
  .page-article {
    margin: 0 0 3.5rem 0;
  }
  .nav {
    flex-direction: row;
    justify-content: center;
  }
  .header-exp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

@media print {
  .badge {
    display: none;
  }
  .nav {
    display: none;
  }
}

a:link {
  color: var(--font-color-light);
  text-underline-offset: 0.2rem;
  border: 3px solid transparent;
  transition: background-color 500ms ease, color 200ms ease;
}

a:hover,
a:active {
  color: var(--color-accent-light);
}

a:focus {
  border: 3px dotted var(--color-accent-light);
}
